<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${db.getName()}"></title>
</head>
<body>
    <a th:href="@{/}">Return to main menu</a>
    <h3 th:text="'Your DB: ' + ${db.getName()}">Your DB:</h3>
    <table>
        <tr>
            <th>
                <table style="border: 2px solid gray">
                    <caption style="color: blueviolet">Students Table</caption>
                    <tr style="border: 2px solid gray">
                        <th style="border: 2px solid gray">Id</th>
                        <th style="border: 2px solid gray">Name</th>
                        <th style="border: 2px solid gray">Surname</th>
                        <th style="border: 2px solid gray">Patronymic</th>
                    </tr>
                    <tr style="border: 2px solid gray" th:each="student: ${studentsTable}">
                        <th style="border: 2px solid gray" th:text="${student.getId()}"></th>
                        <th style="border: 2px solid gray" th:text="${student.getName()}"></th>
                        <th style="border: 2px solid gray" th:text="${student.getSurname()}"></th>
                        <th style="border: 2px solid gray" th:text="${student.getPatronymic()}"></th>
                    </tr>
                </table>

                <form th:method="POST" th:action="@{/dblist/{id}(id=${db.getId() + '/addOne'})}" th:object="${student}">
                    <h3>Add student</h3>
                    <input type="text" th:field="*{name}" placeholder="Name"/>
                    <div th:if = "${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
                    <input type="text" th:field="*{surname}" placeholder="Surname"/>
                    <div th:if = "${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
                    <input type="text" th:field="*{patronymic}" placeholder="Patronymic"/>
                    <button type="submit">Add</button>
                    <div style="color: crimson" th:text="${ExistingWarning}"></div>
                </form>
                <form th:method="POST" th:action="@{/dblist/{id}(id=${db.getId() + '/addStudFromFile'})}" th:object="${path}">
                    <h3>Add students from file</h3>
                    <input type="text" th:field="*{path}" placeholder="Full path to file"/>
                    <button type="submit">Load</button>
                    <div style="color: crimson" th:text="${NoFileWarning}"></div>
                </form>
                <form th:method="POST" th:action="@{/dblist/{id}(id=${db.getId() + '/deleteStudent'})}">
                    <h3>Delete Student by ID</h3>
                    <input type="text" name="studentID" placeholder="Enter ID of Student"/>
                    <button type="submit">Delete</button>
                </form>

            </th>
            <th>
                <table style="border: 2px solid gray">
                    <caption style="color: blueviolet">Variants Table</caption>
                    <tr style="border: 2px solid gray">
                        <th style="border: 2px solid gray">Id</th>
                        <th style="border: 2px solid gray">VariantName</th>
                    </tr>
                    <tr style="border: 2px solid gray" th:each="variant: ${variantTable}">
                        <th style="border: 2px solid gray" th:text="${variant.getId()}"></th>
                        <th style="border: 2px solid gray" th:text="${variant.getPathToFile()}"></th>
                    </tr>
                </table>
                <form th:method="POST" th:action="@{/dblist/{id}(id=${db.getId() + '/addVariant'})}" th:object="${variant}">
                    <h3>Add student</h3>
                    <input type="text" th:field="*{pathToFile}" placeholder="Variant's name"/>
                    <div th:if = "${#fields.hasErrors('pathToFile')}" th:errors="*{pathToFile}">Name error</div>
                    <button type="submit">Add</button>
                </form>
            </th>
        </tr>
    </table>
</body>
</html>